# CodING Academy: Python
## Warsztat 4

# Serializacja i pliki

### Scieżki
* `from pathlib import Path` - moduł dedykowny do pracy z ścieżkami i plikami, **preferowany** <br>(https://docs.python.org/3.8/library/pathlib.html?highlight=pathlib#module-pathlib)
* `import os` - moduł dedykowany do pracy z systemem operacyjnym <br>(https://docs.python.org/3.8/library/os.html)
<br>

In [1]:
from pathlib import Path
Path.cwd()

PosixPath('/Volumes/iMacHDD/Users/roty/PycharmProjects/pythonProject/venv/bin')

In [180]:
import os
os.getcwd()

!ls

Activate.ps1
Arek_Piasecki_Have_Fun_With_CodING_#2_ArekPi.ipynb
Bartek_Smolin_Have_Fun_With_CodING_2 - rozwiązane - B.Smolin.ipynb
CodING_Academy_Python_Warsztat_1.ipynb
CodING_Academy_Python_Warsztat_2.ipynb
CodING_Academy_Python_Warsztat_4.ipynb
Darek_Kosinski_Have_Fun_With_CodING_#2_DK.ipynb
Have Fun with Coding Romek Wyrobek.ipynb
Have_Fun_With_CodING_#2.ipynb
Have_Fun_With_CodING_#3.ipynb
Have_Fun_With_CodING_1 - Bartek Smolin.ipynb
Have_Fun_With_CodING_1 Malgorzata Piotrowska.ipynb
Have_Fun_With_CodING_1 Malgorzata Piotrowska2.ipynb
Have_Fun_With_CodING_1 Mariusz Biniasz.ipynb
Have_Fun_With_CodING_1 Studzinski.ipynb
Have_Fun_With_CodING_1-DK.ipynb
Have_Fun_With_CodING_1_ArekPi.ipynb
Have_Fun_With_CodING_1_ArekPi_v3.ipynb
Have_Fun_With_CodING_1_Magda.ipynb
Have_Fun_With_CodING_1_ToRo.ipynb
Have_Fun_With_CodING_1_odp_marek_jacek.ipynb
Magda_Sciegosz_Have_Fun_With_CodING_#2.ipynb
Malgorzata_Piotrowska_Have_Fun_With_CodING_#2_.ipynb
Marek_Jacek_Have_Fun_With_CodING_2.ipynb
Tomek_Romuszynski_Have_Fun_With_CodING_#2_ToRo.ipynb
Untitled.ipynb
WorkShop1 - solved.ipynb
Workshop2 solved.ipynb
activate
activate.csh
activate.fish
chardetect
database.sqlite3
easy_install
easy_install-3.9
iptest
iptest3
ipython
ipython3
jsonschema
jupyter
jupyter-bundlerextension
jupyter-console
jupyter-kernel
jupyter-kernelspec
jupyter-migrate
jupyter-nbconvert
jupyter-nbextension
jupyter-notebook
jupyter-qtconsole
jupyter-run
jupyter-serverextension
jupyter-troubleshoot
jupyter-trust
pip
pip3
pip3.9
pliki_tekstowe
pygmentize
python
python3
python3.9
python_users.csv
python_users_new.csv
test.csv

**Odwołanie względne i bezwzględne:**
* `'C:/Users/xyz/Desktop/python_od_podstaw_ING/Warsztat 4'` - bezwzględne
* `../Warsztat 3` - względne

`'.'` - aktualna lokalizacja, `'..'` - przejście o katalog wyżej

In [ ]:
Path('../').iterdir()

In [ ]:
# podmienić zgodnie ze swoją strukturą :) 
for element in Path(r'../python-masterclass-master').iterdir():
    print(element)

In [ ]:
# tworzenie nowego folderu
Path('./new_folder').mkdir()

## Pliki

`open(file_path, mode, encoding, ...)` <br>
(https://docs.python.org/3/library/functions.html#open)

**Mode:** najlepiej kojarzyć od razu z j. angielskim :)
* `'r'` - open for **reading** (default)
* `'w'` - open for **writing**, truncating the file first
* `'x'` - open for **exclusive** creation, failing if the file already exists
* `'a'` - open for writing, **appending** to the end of the file if it exists
* `'b'` - **binary** mode
* `'t'` - **text** mode (default)
* `'+'` - open for updating (reading and writing)

**encofing:** utf-8 <br>
(https://docs.python.org/3/library/codecs.html#standard-encodings)
<br> 

**najczęściej wykorzystywane funkcje:**
`read()`, `readlines()`, `write()`

In [ ]:
file_path = 'python_test2.txt'
with open(file_path, mode = 'wt', encoding = 'utf-8') as file:
#     file_read = file.readline()
#     file_read = file.read()[:100]
#     file_read = file.readlines()[:3]
    file.write('test')

print(file_read)

**Zadanie:**
1. Utwórz folder o nazwie 'pliki_tekstowe' i zapisz w nim plik o nazwie 'my_python.txt' z tekstem (txt = 'I love learning Python')
1. Dodaj do wcześniej stworzonego pliku dowolny tekst

In [111]:
# Zadanie
DIR_NAME = 'pliki_tekstowe'
FILE_PATH = DIR_NAME + '/my_python.txt'

folder = Path(DIR_NAME)
if folder.exists():
    print ('Folder exist')
else: 
    print ('Folder not exist')
    folder.mkdir()

f_path = Path(FILE_PATH)
if f_path.exists():
    with open(FILE_PATH, mode = 'at') as file:
        file.write('Added something\n'); 
else:    
    with open(FILE_PATH, mode = 'wt') as file:
        file.write('I love learning Python\n');

Folder exist

## CSV
ang. comma-separated values, wartości rozdzielone przecinkiem – format przechowywania danych w plikach tekstowych
* `import csv` - biblioteka dedykowana do pracy z plikami csv
(https://docs.python.org/3/library/csv.html)

**Czytanie pliku csv:**
* `csv.reader(path_csvfile, **params)` 
* `csv.DictReader(path_csvfile, **params)`

**Zapisywanie pliku csv:**
* `csv.writer(path_csvfile, **params)`
* `csv.DictWriter(path_csvfile, **params)`

**Przydatne parametry:**
* delimiter - znak odpowiadający za rozdzielenie tekstu w linii, najczęściej `','` `';'` `'\t'` `'|'`
* quotechar - znaki poprzedzające i kończące ciąg tekstu oddzielonego separatorami, najczęściej `'"'` `"'"`
* lineterminator - znak końca linii, najczęściej `'\n'`
* quoting - dodatkowe opcje dotyczące cytowania (do wykorzystania z funkcją writer) `csv.QUOTE_ALL` `csv.QUOTE_MINIMAL` `csv.QUOTE_NONNUMERIC`
* fieldnames - nazwy pól/ kolumn
* dialect - excel, excel-tab, unix (https://www.opentechguides.com/how-to/article/python/182/csv-dialects.html)

In [112]:
import csv

In [113]:

print(csv.list_dialects())
dialects_list = csv.list_dialects()

for dialect in dialects_list:
    d=csv.get_dialect(dialect)
    print('________________', dialect)
    print("delimiter: ", repr(d.delimiter))
    print("doublequote: ", d.doublequote)
    print("escapechar: ", d.escapechar)
    print("lineterminator: ", repr(d.lineterminator))
    print("quotechar: ", d.quotechar)
    print("quoting: ", d.quoting)
    print("skipinitialspace: ", d.skipinitialspace)
    print("strict: ", d.strict)

['excel', 'excel-tab', 'unix']
________________ excel
delimiter:  ','
doublequote:  True
escapechar:  None
lineterminator:  '\r\n'
quotechar:  "
quoting:  0
skipinitialspace:  False
strict:  False
________________ excel-tab
delimiter:  '\t'
doublequote:  True
escapechar:  None
lineterminator:  '\r\n'
quotechar:  "
quoting:  0
skipinitialspace:  False
strict:  False
________________ unix
delimiter:  ','
doublequote:  True
escapechar:  None
lineterminator:  '\n'
quotechar:  "
quoting:  1
skipinitialspace:  False
strict:  False

In [115]:
data = [
    {'name':'Ola', 'surname':'Kowalska', 'ID':213134},
    {'name':'Olaf', 'surname': 'Adamowski', 'ID':131313},
    {'name':'Mea', 'surname': "As;awdw", 'ID':131313}
]

with open('test.csv', mode = 'w', encoding = 'utf-8') as file:
    csv_file = csv.DictWriter(file, delimiter = ';', quotechar = "|",quoting= csv.QUOTE_MINIMAL,
                              fieldnames=data[0].keys())
    csv_file.writeheader() #dodaje nagłówek
    csv_file.writerows(data)
    
# !dir
!type test.csv

# zmodyfikuj powyższy kod zmieniając parametry delimiter, lineterminator, QUOTE_ALL, QUOTE_MINIMAL...

/bin/bash: line 0: type: test.csv: not found

In [119]:
with open('test.csv', mode = 'r', encoding = 'utf-8') as file:
#     csv_file = csv.reader(file,                          
#                               quotechar = "'",
#                               quoting= csv.QUOTE_MINIMAL)  

    csv_file = csv.DictReader(file, delimiter = ';', quotechar = "|"
                             )  
    
    for line in csv_file:
        print(line)

# print(csv_file)

{'name': 'Ola', 'surname': 'Kowalska', 'ID': '213134'}
{'name': 'Olaf', 'surname': 'Adamowski', 'ID': '131313'}
{'name': 'Mea', 'surname': 'As;awdw', 'ID': '131313'}

**Zadanie:**
1. Odczytaj zawartość pliku 'python_users.csv' korzystając z metody DictReader
1. Zapisz dane do nowego pliku 'python_users_new.csv' z parametrami stadnardowymi dla dialektu 'unix'

In [130]:
# Zadanie
with open('python_users.csv', mode = 'r',  encoding = 'utf-8') as file:
    csv_file_in = csv.DictReader(file, delimiter = '*',quotechar = '&',skipinitialspace = True)
#    for line in csv_file_in:
#        print(line)
        
    with open('python_users_new.csv', mode = 'wt',  encoding = 'utf-8') as file:
        csv_file_out = csv.DictWriter(file, dialect="unix",
                                      fieldnames=csv_file_in.fieldnames) 
        csv_file_out.writeheader()
        csv_file_out.writerows(csv_file_in)

# `datetime` - reprezentacja daty i czasu w Pythonie

### Dokumentacja bilioteki `datetime`
https://docs.python.org/3/library/datetime.html

In [134]:
import datetime
import time

### Relacje pomiędzy klasami w biliotece `datetime`

    object
        timedelta
        tzinfo
            timezone
        time
        date
            datetime

## `timedelta` - klasa reprezentująca różnicę czasu

In [135]:
week = datetime.timedelta(weeks=1)
week

datetime.timedelta(days=7)

In [136]:
year = datetime.timedelta(days=365)
year

datetime.timedelta(days=365)

Przykład użycia - ile tygodni ma rok?

In [137]:
divmod(year, week)

(52, datetime.timedelta(days=1))

## `date` - klasa reprezentująca datę

### Utworzenie daty

In [ ]:
today = datetime.date.today()
today

In [ ]:
my_date = datetime.date(2020, 10, 4)
my_date

In [ ]:
my_date = datetime.date.fromisoformat("2020-10-04")
my_date

Timestamp, czyli ilość sekund od 1 stycznia 1970 roku

In [ ]:
now = time.time()
now

In [ ]:
my_date = datetime.date.fromtimestamp(now)
my_date

### Atrybuty daty

In [ ]:
my_date.year, my_date.month, my_date.day

### Modyfikacja daty

In [ ]:
my_date = my_date.replace(day=1)
my_date

## `datetime` - klasa reprezentująca datę i czas

### Utworzenie daty i czasu

In [182]:
now = datetime.datetime.now()
now

datetime.datetime(2021, 2, 24, 9, 43, 19, 746392)

In [183]:
my_datetime = datetime.datetime(2020, 10, 4, 12, 30)
my_datetime

datetime.datetime(2020, 10, 4, 12, 30)

In [184]:
my_datetime = datetime.datetime.fromisoformat("2020-10-04T12:30")
my_datetime

datetime.datetime(2020, 10, 4, 12, 30)

In [ ]:
my_datetime = datetime.datetime.fromtimestamp(time.time())
my_datetime

### Atrybuty daty i czasu

In [185]:
my_datetime.year, my_datetime.month, my_datetime.day, my_datetime.hour, my_datetime.minute, my_datetime.second, my_datetime.microsecond

(2020, 10, 4, 12, 30, 0, 0)

### Modyfikacja daty i czasu

In [186]:
my_datetime = my_datetime.replace(hour=12, minute=30, second=0, microsecond=0)
my_datetime

datetime.datetime(2020, 10, 4, 12, 30)

## `time` - klasa reprezentująca czas

### Utworzenie czasu

In [ ]:
now = datetime.datetime.now().time()
now

In [ ]:
my_time = datetime.time(12, 30)
my_time

In [ ]:
my_time = datetime.time.fromisoformat("12:30")
my_time

In [ ]:
my_time = datetime.datetime.fromtimestamp(time.time()).time()
my_time

### Atrybuty czasu

In [ ]:
my_time.hour, my_time.minute, my_time.second, my_time.microsecond

### Modyfikacja czasu

In [ ]:
my_time = my_time.replace(second=0, microsecond=0)
my_time

## Łączenie `date` i `time` w `datetime`

In [ ]:
my_date = datetime.date.today()
my_time = datetime.time()
my_datetime = datetime.datetime.combine(my_date, my_time)
my_datetime

## Wyciąganie `date` i `time` z `datetime`

In [ ]:
now = datetime.datetime.now()
my_date = now.date()
my_time = now.time()
my_date, my_time

## Porównywanie dat

In [ ]:
datetime.datetime.now() >= datetime.datetime(2020, 10, 5, 12, 30)

## Formatowanie daty i czasu

```python
time.strftime("format") -> str
date.strftime("format") -> str
datetime.strftime("format") -> str
```

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [ ]:
now = datetime.datetime.now()

In [ ]:
now.strftime("%A, %d %B %Y, %H:%M:%S")

In [ ]:
now.strftime("%d. day of %m. month in %Y. year")

## Parsowanie daty i czasu

```python
datetime.strptime("datetime_string", "format")
```

In [ ]:
my_datetime = datetime.datetime.strptime("Monday, 05 October 2020, 20:53:26", "%A, %d %B %Y, %H:%M:%S")
my_datetime

In [ ]:
my_datetime = datetime.datetime.strptime("05. day of 10. month in 2020. year", "%d. day of %m. month in %Y. year")
my_datetime

In [ ]:
my_datetime = datetime.datetime.strptime("2020-10-05 & 12:30:00", "%Y-%m-%d * %H:%M:%S")
my_datetime

## Zadanie 1
Napisz funkcję, która sprawdzi czy osoba urodzona danego dnia jest pełnoletnia.
```python
is_adult(date) -> bool
```

In [152]:
def is_adult(date):
    curr_date = datetime.date.today()
    adult_date = date.replace(year=date.year+18)
    return adult_date <= curr_date
    pass

In [153]:
print(is_adult(datetime.date(1980, 5, 10)))  # True
print(is_adult(datetime.date(2000, 1, 1)))  # True
print(is_adult(datetime.date(2002, 10, 5)))  # True
print(is_adult(datetime.date(2002, 10, 31)))  # False
print(is_adult(datetime.date.today()))  # False
print(is_adult(datetime.date(2021, 1, 1)))  # False

True
True
True
True
False
False

## Zadanie 2
Napisz funkcję, która sparsuje poniższe daty:
- 2020-10-05 & 11:30
- 05.10.2020 11-30
- 5 October 2020, 11.30
- 5 day of Oct. 2020, 11:30 AM

```python
parse_date("string") -> datetime
```

In [178]:
def parse_date(date_string):
    date_formats = ["%Y-%m-%d & %H:%M","%d.%m.%Y %H-%M","%d %B %Y, %H.%M","%d day of %b. %Y, %I:%M %p"]
    parsed_datetime = None
    for date_format in date_formats:
        try:
            parsed_datetime = datetime.datetime.strptime(date_string,date_format)
        except ValueError:
            continue
        else:
            break
    
    return parsed_datetime
    pass

In [191]:
print(parse_date("2020-10-05 & 11:30"))  # 2020-10-05 11:30:00
print(parse_date("05.10.2020 11-30"))  # 2020-10-05 11:30:00
print(parse_date("5 October 2020, 11.30"))  # 2020-10-05 11:30:00
print(parse_date("5 day of Oct. 2020, 11:30 AM"))  # 2020-10-05 11:30:00
print(parse_date("5 day of Oct. 2020, 11:30 PM"))  # 2020-10-05 11:30:00

2020-10-05 11:30:00
2020-10-05 11:30:00
2020-10-05 11:30:00
2020-10-05 11:30:00
2020-10-05 23:30:00

# Bazy danych

### Baza danych - do czego służy, co nam daje? Jakie ma zalety względem przechowywania danych w pliku?
Podyskutujmy

### Operowanie na danych w bazie (CRUD)
Zapisywanie danych do bazy (CREATE)
```
insert into <table>(fields...) values (<values>)
``` 

Wyciąganie danych z bazy (READ)
```
select <fields> from <table> where <condition> order by <field>
select <fields> from <table> join <table2> on <relation> where <condition> order by <field>
left join, right join <- nie będziemy się tym zajmować, ale pokażę grafikę
``` 

Zmiana danych w bazie (UPDATE)
```
update <table> set <field> = <value> where <condition>
``` 

Usuwanie danych (DETELE)
```
delete from <table> where <condition>
```

### Krótko o autoincrement
Niektóre pola w bazie można oznaczyć jako 'Autoincrement'. Oznacza to, że gdy nie podamy wartości pola, to zostanie ono automatycznie nadane jako kolejne. Często stosuje się w przypadku 'id'.

### Connection
Jest istancją obiektu symbolizująca połączenie do bazy.

In [4]:
import sqlite3
connection = sqlite3.connect('database.sqlite3')
cursor = connection.cursor()
result = cursor.execute('select * from customers')
connection.close()

In [5]:
# wygodniej jest użyć compound statement (instrukcje złożone?)
with sqlite3.connect('database.sqlite3') as connection:
    connection.execute('')
# bo połączenie zamyka się automatycznie i jeśli dane były modyfikowane, to zostaną zapisane

In [10]:
# wykonaym kilka zapytań i zwrócimy wyniki na ekran
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    results = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    print(results)
    results = cursor.execute('select * from sample_data').fetchall()
    # zamiast fetchall można użyć innych sposobów pozyskiwania danych: fetchone() i fetchmany()
    print("Wszystkie rekordy z bazy")
    print(results)
    # zwróćmy uwagę na zwracany typ
    print("\nNazwy pól w bazie")
    for field_description in cursor.description:
        print(field_description[0])

[('customers',), ('sqlite_sequence',), ('accounts',), ('sample_data',)]
Wszystkie rekordy z bazy
[(1, 'Bartosz', 'Głowacki', 'PL42222941176247135539240187', 20), (2, 'Eryk', 'Kamiński', 'PL81786645034401957047621964', 30), (3, 'Igor', 'Witkowski', 'PL61827884040081351674977449', 25), (4, 'Olga', 'Szulc', 'PL70724511734909169446820569', 50), (5, 'Igor', 'Nowak', 'PL84088258283620570843192707', 45), (6, 'Mikołaj', 'Wasilewski', 'PL20452518470134792225378787', 27), (7, 'Bogna', 'Stępień', 'PL11462380436218108192209769', 43), (8, 'Piotr', 'Błaszczyk', 'PL95767827625047808090917558', 26), (9, 'Małgorzata', 'Wróblewska', 'PL23904771660065411425795304', 65), (10, 'Bogumił', 'Kaczmarczyk', 'PL50456201958822830819035014', 70), (11, 'Heronim', 'Marciniak', 'PL90060634522008222843557969', 19), (12, 'Denis', 'Kowalski', 'PL09129845100611575983827969', 43), (13, 'Judyta', 'Kaczmarczyk', 'PL04933075786409877858276361', 23), (14, 'Bartłomiej', 'Nowak', 'PL41216396206003046331355076', 22), (15, 'Daniela', 'Pietrzak', 'PL76219217364176207985297587', 56)]

Nazwy pól w bazie
id
first_name
last_name
account_number
age

In [78]:
# fetchone
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    results = cursor.execute('select * from sample_data')
    print("Rekordy z bazy po jednym")
    result = results.fetchone()
    while result:
        print(result)
        result = results.fetchone()

Rekordy z bazy po jednym
(1, 'Anna', 'Głowacki', 'PL42222941176247135539240187', 20)
(2, 'Anna', 'Kamiński', 'PL81786645034401957047621964', 30)
(3, 'Anna', 'Witkowski', 'PL61827884040081351674977449', 25)
(4, 'Olga', 'Szulc', 'PL70724511734909169446820569', 50)
(5, 'Igor', 'Nowak', 'PL84088258283620570843192707', 45)
(6, 'Anna', 'Wasilewski', 'PL20452518470134792225378787', 27)
(8, 'Anna', 'Błaszczyk', 'PL95767827625047808090917558', 26)
(9, 'Małgorzata', 'Wróblewska', 'PL23904771660065411425795304', 65)
(11, 'Heronim', 'Marciniak', 'PL90060634522008222843557969', 19)
(12, 'Denis', 'Kowalski', 'PL09129845100611575983827969', 43)
(13, 'Anna', 'Kaczmarczyk', 'PL04933075786409877858276361', 23)
(14, 'Anna', 'Nowak', 'PL41216396206003046331355076', 22)
(15, 'Daniela', 'Pietrzak', 'PL76219217364176207985297587', 56)
(16, 'Marcin', 'Nowacki', 'PL12345678901234567890123456', 99)

In [ ]:
# fetchmany
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    results = cursor.execute('select * from sample_data')
    print("Rekordy z bazy po kilka")
    result = results.fetchmany(2)
    while result:
        print(result)
        result = results.fetchmany(2)

In [63]:
# Row
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    cursor.row_factory = sqlite3.Row
    results = cursor.execute('select * from sample_data').fetchall()
    print("Rekordy po dostarczeniu fabryki")
    for result in results:
#        print(result)
#         usuwać komentarze po jednym :-)
#        print(result.keys())
        print(result['first_name'])
        print(result[2])
        print(dict(result))

Rekordy po dostarczeniu fabryki
Anna
Głowacki
{'id': 1, 'first_name': 'Anna', 'last_name': 'Głowacki', 'account_number': 'PL42222941176247135539240187', 'age': 20}
Anna
Kamiński
{'id': 2, 'first_name': 'Anna', 'last_name': 'Kamiński', 'account_number': 'PL81786645034401957047621964', 'age': 30}
Anna
Witkowski
{'id': 3, 'first_name': 'Anna', 'last_name': 'Witkowski', 'account_number': 'PL61827884040081351674977449', 'age': 25}
Olga
Szulc
{'id': 4, 'first_name': 'Olga', 'last_name': 'Szulc', 'account_number': 'PL70724511734909169446820569', 'age': 50}
Igor
Nowak
{'id': 5, 'first_name': 'Igor', 'last_name': 'Nowak', 'account_number': 'PL84088258283620570843192707', 'age': 45}
Anna
Wasilewski
{'id': 6, 'first_name': 'Anna', 'last_name': 'Wasilewski', 'account_number': 'PL20452518470134792225378787', 'age': 27}
Anna
Błaszczyk
{'id': 8, 'first_name': 'Anna', 'last_name': 'Błaszczyk', 'account_number': 'PL95767827625047808090917558', 'age': 26}
Małgorzata
Wróblewska
{'id': 9, 'first_name': 'Małgorzata', 'last_name': 'Wróblewska', 'account_number': 'PL23904771660065411425795304', 'age': 65}
Heronim
Marciniak
{'id': 11, 'first_name': 'Heronim', 'last_name': 'Marciniak', 'account_number': 'PL90060634522008222843557969', 'age': 19}
Denis
Kowalski
{'id': 12, 'first_name': 'Denis', 'last_name': 'Kowalski', 'account_number': 'PL09129845100611575983827969', 'age': 43}
Anna
Kaczmarczyk
{'id': 13, 'first_name': 'Anna', 'last_name': 'Kaczmarczyk', 'account_number': 'PL04933075786409877858276361', 'age': 23}
Anna
Nowak
{'id': 14, 'first_name': 'Anna', 'last_name': 'Nowak', 'account_number': 'PL41216396206003046331355076', 'age': 22}
Daniela
Pietrzak
{'id': 15, 'first_name': 'Daniela', 'last_name': 'Pietrzak', 'account_number': 'PL76219217364176207985297587', 'age': 56}
Marcin
Nowacki
{'id': 16, 'first_name': 'Marcin', 'last_name': 'Nowacki', 'account_number': 'PL12345678901234567890123456', 'age': 99}

## Zadanie
Dopisz do tabeli **sample_data** osobę: 
imię: Marcin 
nazwisko: Nowacki 
numer konta: PL12345678901234567890123456
wiek: 99

In [55]:
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    result = cursor.execute ('INSERT INTO sample_data(first_name, last_name, account_number, age) VALUES (?,?,?,?) ',
                               ('Marcin','Nowacki','PL12345678901234567890123456',99))
    print(result)

<sqlite3.Cursor object at 0x7fb35871d730>

## Zadanie
W tabeli **sample_data** zamień na 'Anna' imiona wszystkich osób, których wiek jest pomiędzy <20 a 30>

In [58]:
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    result = cursor.execute('UPDATE sample_data SET first_name = "Anna" WHERE age >=20 and age <=30')

## Zadanie
Usuń z tabeli **sample_data** klientów z numerami kont: PL11462380436218108192209769 lub PL50456201958822830819035014

In [62]:
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    result = cursor.execute('DELETE FROM sample_data WHERE account_number = "PL11462380436218108192209769" or account_number = "PL50456201958822830819035014"')

## Zadanie
tabela **customers**
- sprawdź jaką strukturę ma tabela **customers** w bazie **database.sqlite3**
- zaimportuj klientów z poniżeszj listy do bazy danych (**tabela customers**). Jako id użyj opcji autoincrement.
- zwróć uwagę, że klienci zapisani są jako 'Imie Nazwisko' a w bazie danych na imię i nazwisko są osobne pola.

In [67]:
customers = ['Bartosz Głowacki', 'Eryk Kamiński', 'Igor Witkowski', 'Olga Szulc', 'Igor Nowak',
             'Mikołaj Wasilewski', 'Bogna Stępień', 'Piotr Błaszczyk', 'Małgorzata Wróblewska', 'Bogumił Kaczmarczyk',
             'Heronim Marciniak', 'Denis Kowalski', 'Judyta Kaczmarczyk', 'Bartłomiej Nowak', 'Daniela Pietrzak',
             'Magda Wójcik', 'Edward Jasiński', 'Adrian Szymczak', 'Elwira Malinowska', 'Małgorzata Makowska',
             'Mateusz Mazur', 'Dominika Lis', 'Izabela Witkowska', 'Kewin Kowalczyk', 'Józefa Chmielewska',
             'Bernadetta Sadowska', 'Aureliusz Nowak', 'Florentyna Górska', 'Adela Kołodziej', 'Alice Mazur',
             'Angelika Duda', 'Julita Górecka', 'Marcelina Duda', 'Alexander Kowalski', 'Filip Brzeziński',
             'Paula Zakrzewska', 'Alfred Makowski', 'Alice Błaszczyk', 'Dominika Adamska', 'Aureliusz Pietrzak',
             'Damian Kozłowski', 'Dorian Andrzejewski', 'Irena Stępień', 'Ernest Nowak', 'Adriana Kowalska',
             'Jowita Kalinowska', 'Asia Dąbrowska', 'Matylda Marciniak', 'Gabriela Szewczyk', 'Julia Szewczyk',
             'Pamela Michalak', 'Stanisława Czarnecka', 'Aleksy Przybylski', 'Bartosz Rutkowski', 'Olaf Szymański',
             'Lila Jankowska', 'Alisa Sikorska', 'Mikołaj Nowak', 'Stanisława Sawicka', 'Judyta Wojciechowska',
             'Balbina Sikorska', 'Barbara Urbańska', 'Bernadetta Urbańska', 'Alojzy Zalewski', 'Julian Kowalczyk',
             'Gabriel Nowak', 'Lucyna Sikorska', 'Błażej Ostrowski', 'Alisa Lewandowska', 'Leszek Nowak',
             'Dariusz Szymczak', 'Jadwiga Szulc', 'Paula Szymczak', 'Kryspin Szymański', 'Ignacy Kaźmierczak',
             'Norbert Jasiński', 'Bogumił Stępień', 'Andrea Szulc', 'Roman Baranowski', 'Marcin Duda',
             'Irena Wasilewska', 'Julian Baranowski', 'Lara Nowak', 'Anatol Sawicki', 'Dariusz Zawadzki',
             'Lucyna Chmielewska', 'Konstanty Zalewski', 'Paulina Kaczmarczyk', 'Ireneusz Zieliński', 'Asia Nowak',
             'Maksymilian Szewczyk', 'Jola Urbańska', 'Denis Zieliński', 'Maciej Głowacki', 'Alex Włodarczyk',
             'Gniewomir Laskowski', 'Leonardo Sikorski', 'Amanda Szczepańska', 'Honorata Sokołowska',
             'Albert Piotrowski']

In [73]:
with sqlite3.connect('database.sqlite3') as connection:
    cursor = connection.cursor()
    result = cursor.execute ('SELECT * FROM customers').fetchall()
    print(result)
    if (result == []):
        for field_description in cursor.description:
            print(field_description)
    
        for customer in customers:
           (first_name, last_name) = customer.split()
           result = cursor.execute ('INSERT INTO customers(first_name, last_name) VALUES (?,?)',(first_name, last_name))

[(1681, 'Bartosz', 'Głowacki'), (1682, 'Eryk', 'Kamiński'), (1683, 'Igor', 'Witkowski'), (1684, 'Olga', 'Szulc'), (1685, 'Igor', 'Nowak'), (1686, 'Mikołaj', 'Wasilewski'), (1687, 'Bogna', 'Stępień'), (1688, 'Piotr', 'Błaszczyk'), (1689, 'Małgorzata', 'Wróblewska'), (1690, 'Bogumił', 'Kaczmarczyk'), (1691, 'Heronim', 'Marciniak'), (1692, 'Denis', 'Kowalski'), (1693, 'Judyta', 'Kaczmarczyk'), (1694, 'Bartłomiej', 'Nowak'), (1695, 'Daniela', 'Pietrzak'), (1696, 'Magda', 'Wójcik'), (1697, 'Edward', 'Jasiński'), (1698, 'Adrian', 'Szymczak'), (1699, 'Elwira', 'Malinowska'), (1700, 'Małgorzata', 'Makowska'), (1701, 'Mateusz', 'Mazur'), (1702, 'Dominika', 'Lis'), (1703, 'Izabela', 'Witkowska'), (1704, 'Kewin', 'Kowalczyk'), (1705, 'Józefa', 'Chmielewska'), (1706, 'Bernadetta', 'Sadowska'), (1707, 'Aureliusz', 'Nowak'), (1708, 'Florentyna', 'Górska'), (1709, 'Adela', 'Kołodziej'), (1710, 'Alice', 'Mazur'), (1711, 'Angelika', 'Duda'), (1712, 'Julita', 'Górecka'), (1713, 'Marcelina', 'Duda'), (1714, 'Alexander', 'Kowalski'), (1715, 'Filip', 'Brzeziński'), (1716, 'Paula', 'Zakrzewska'), (1717, 'Alfred', 'Makowski'), (1718, 'Alice', 'Błaszczyk'), (1719, 'Dominika', 'Adamska'), (1720, 'Aureliusz', 'Pietrzak'), (1721, 'Damian', 'Kozłowski'), (1722, 'Dorian', 'Andrzejewski'), (1723, 'Irena', 'Stępień'), (1724, 'Ernest', 'Nowak'), (1725, 'Adriana', 'Kowalska'), (1726, 'Jowita', 'Kalinowska'), (1727, 'Asia', 'Dąbrowska'), (1728, 'Matylda', 'Marciniak'), (1729, 'Gabriela', 'Szewczyk'), (1730, 'Julia', 'Szewczyk'), (1731, 'Pamela', 'Michalak'), (1732, 'Stanisława', 'Czarnecka'), (1733, 'Aleksy', 'Przybylski'), (1734, 'Bartosz', 'Rutkowski'), (1735, 'Olaf', 'Szymański'), (1736, 'Lila', 'Jankowska'), (1737, 'Alisa', 'Sikorska'), (1738, 'Mikołaj', 'Nowak'), (1739, 'Stanisława', 'Sawicka'), (1740, 'Judyta', 'Wojciechowska'), (1741, 'Balbina', 'Sikorska'), (1742, 'Barbara', 'Urbańska'), (1743, 'Bernadetta', 'Urbańska'), (1744, 'Alojzy', 'Zalewski'), (1745, 'Julian', 'Kowalczyk'), (1746, 'Gabriel', 'Nowak'), (1747, 'Lucyna', 'Sikorska'), (1748, 'Błażej', 'Ostrowski'), (1749, 'Alisa', 'Lewandowska'), (1750, 'Leszek', 'Nowak'), (1751, 'Dariusz', 'Szymczak'), (1752, 'Jadwiga', 'Szulc'), (1753, 'Paula', 'Szymczak'), (1754, 'Kryspin', 'Szymański'), (1755, 'Ignacy', 'Kaźmierczak'), (1756, 'Norbert', 'Jasiński'), (1757, 'Bogumił', 'Stępień'), (1758, 'Andrea', 'Szulc'), (1759, 'Roman', 'Baranowski'), (1760, 'Marcin', 'Duda'), (1761, 'Irena', 'Wasilewska'), (1762, 'Julian', 'Baranowski'), (1763, 'Lara', 'Nowak'), (1764, 'Anatol', 'Sawicki'), (1765, 'Dariusz', 'Zawadzki'), (1766, 'Lucyna', 'Chmielewska'), (1767, 'Konstanty', 'Zalewski'), (1768, 'Paulina', 'Kaczmarczyk'), (1769, 'Ireneusz', 'Zieliński'), (1770, 'Asia', 'Nowak'), (1771, 'Maksymilian', 'Szewczyk'), (1772, 'Jola', 'Urbańska'), (1773, 'Denis', 'Zieliński'), (1774, 'Maciej', 'Głowacki'), (1775, 'Alex', 'Włodarczyk'), (1776, 'Gniewomir', 'Laskowski'), (1777, 'Leonardo', 'Sikorski'), (1778, 'Amanda', 'Szczepańska'), (1779, 'Honorata', 'Sokołowska'), (1780, 'Albert', 'Piotrowski')]

## Zadanie
W bazie (oprócz klientów) znajduje się też **tabela accounts**. Ta tabela ma klucz obcy (pole owner), który powinien wskazywać na konkretnego klienta (takiego, którego id istnieje). Zapisz konta z listy w bazie w taki sposób, aby kolejni klienci byli przypisani do kolejnych kont (relacja powinna być zachowana).

In [87]:
accounts = ['PL42222941176247135539240187', 'PL81786645034401957047621964', 'PL61827884040081351674977449',
                'PL70724511734909169446820569', 'PL84088258283620570843192707', 'PL20452518470134792225378787',
                'PL11462380436218108192209769', 'PL95767827625047808090917558', 'PL23904771660065411425795304',
                'PL50456201958822830819035014', 'PL90060634522008222843557969', 'PL09129845100611575983827969',
                'PL04933075786409877858276361', 'PL41216396206003046331355076', 'PL76219217364176207985297587',
                'PL68993998198602899323173401', 'PL88830777665031601783143189', 'PL65340480182486847430048663',
                'PL68863632433343392423227897', 'PL79704373844446106714615582', 'PL62124047339933926409512840',
                'PL59936308346070342340713270', 'PL01814461794647716676795119', 'PL14102243867783388006523077',
                'PL24392138257182734234089178', 'PL77676884634180964236248552', 'PL01470396332978558099677065',
                'PL19347977707644163737014764', 'PL10681175466306981734162786', 'PL59600358209202979627730631',
                'PL26886489427644002141973035', 'PL41837024301475584382636046', 'PL11807421031730166977901943',
                'PL31375493106710264805821471', 'PL30121680781564585445085558', 'PL29089171293201401336352578',
                'PL23603149704722199369074172', 'PL95616902387609198239915671', 'PL57900545121373375343184959',
                'PL60136490531189749493055978', 'PL51225145357812942212550821', 'PL77852127455365152554745119',
                'PL39991628478868227758642973', 'PL76900952112809978771182959', 'PL65522770617561503650617973',
                'PL18357348816848270635281232', 'PL40586063776344068055216527', 'PL21414676378766426692444943',
                'PL93629760991267126626993372', 'PL46768173084845201589752230', 'PL20556928680243176079149641',
                'PL58260331599237416760457737', 'PL31064108414981300794013926', 'PL01356345801318307683568375',
                'PL33051273184191483207656357', 'PL80938217545535385101851725', 'PL84732367737813888530438170',
                'PL19215655957894008729243313', 'PL33076090051556570674071668', 'PL62539178393034479371408649',
                'PL48908177812717582662144004', 'PL06404640603082015911868457', 'PL96116152184234638165207202',
                'PL49574635285322129141468444', 'PL19743931648026435948339706', 'PL69582511090579023733802588',
                'PL82585793687620401129209166', 'PL94019190105333137692760549', 'PL33821675745593905060856093',
                'PL02338058107271655327334708', 'PL76166179754375889266152754', 'PL26198437171737832118498390',
                'PL95502403681241108754729090', 'PL58428109397734769179294471', 'PL21799815390434193920237672',
                'PL51797657669605689620730990', 'PL96586930090652429816689728', 'PL06382220739350141398924713',
                'PL33181228649464900697716934', 'PL89941988116669068813398429', 'PL73334232772825512182008550',
                'PL82916461214174037398335873', 'PL18691754021197599965492442', 'PL82673813626128341820209884',
                'PL92423876370750359655316762', 'PL60749924159117402538720566', 'PL37189594313417678231066556',
                'PL70123091297399721029963702', 'PL58490631164114600858764664', 'PL13865510264267291860056886',
                'PL06469479024555138009439323', 'PL92850233950586676619619528', 'PL85020894599908210318621287',
                'PL19472884962405642320767244', 'PL68053747830206845836539399', 'PL33240034460942914479938225',
                'PL88089860327088708721744408', 'PL39112899454816845930799230', 'PL16750298033250446608408495',
                'PL85353962531367181549425970']

In [94]:
account_iter =  iter(accounts)
with sqlite3.connect('database.sqlite3') as connection:
    cursor_accounts = connection.cursor()
    cursor_customers = connection.cursor()
    results = cursor_customers.execute ('SELECT id FROM customers')
    result = results.fetchone()
    while result:
 #       insert_res = cursor.execute('INSERT INTO accounts')
       insert_res = cursor_accounts.execute('INSERT INTO accounts(number,owner) VALUES (?,?)',
                                            (next(account_iter),result[0])) 
       result = results.fetchone()

## Zadanie
Wykonaj zapytanie o numery kont osób o nazwisku 'Nowak'. Użyj relacji między tabelami customers i accounts.

In [205]:
def my_row_factory (cursor, row):
    pass     

with sqlite3.connect('database.sqlite3') as connection:
    cursor_accounts = connection.cursor()
    cursor.row_factory = sqlite3.Row
    results = cursor.execute \
        ('select number,last_name from accounts join customers on owner=customers.id where last_name = "Nowak" ').fetchall()
    for result in results:
        print(dict(result))

{'number': 'PL84088258283620570843192707', 'last_name': 'Nowak'}
{'number': 'PL41216396206003046331355076', 'last_name': 'Nowak'}
{'number': 'PL01470396332978558099677065', 'last_name': 'Nowak'}
{'number': 'PL76900952112809978771182959', 'last_name': 'Nowak'}
{'number': 'PL19215655957894008729243313', 'last_name': 'Nowak'}
{'number': 'PL69582511090579023733802588', 'last_name': 'Nowak'}
{'number': 'PL02338058107271655327334708', 'last_name': 'Nowak'}
{'number': 'PL18691754021197599965492442', 'last_name': 'Nowak'}
{'number': 'PL13865510264267291860056886', 'last_name': 'Nowak'}

## Dodatkowe zagadniena, które można poruszyć
Jeśli zostanie czas, to można opowiedzieć o:
- row_factory - na co to komu?
- wydobywanie obiektów z bazy - pokazać jak zaimplementować prosty mechanizm row_factory `def sample_factory(cursor, row):`
- ######
- dlaczego się nie zapisuje (brak commit, gdy nie używamy compound statement)
- transakcje (isolation_level)
- begin / commit / rollback

# Wyrażenia regularne

```
\d - dowolna cyfra
\D - downy znak, poza cyfrą
\w - dowlona litera (utf-8)
\W - downly znak poza literą
\s - dowlny biały znak (nowa linia, spacja, tabulacja)
\S - dowolny znak, poza białym (nowa linia, spacja, tabulacja)
\n - nowa linia
\t - tabulacja
[] - zasięg, np. [a-z], [A-Z], [0-9], [a-zA-Z0-9]
() - grupy, np. (?P<imie>\w+)
{} - ilości
^ - początek linii lub ciągu znaków
$ - koniec linii lub ciągu znaków
. - dowolny znak (poza końcem linii)
| - alternatywa (or)
? - dowolny znak 0 lub 1 raz
+ - minimum 1, do nieskończoności
* - minimum 0, do nieskończoności.
```

### re.search(), re.match(), re.findall(), re.finditer()

#### Funkcja re.match próbuje odszukać dany wzorzec na początku ciągu. Funkcja search szuka w tekście danego wzorca.

In [19]:
import re

str_ = "CodIng Academy CodIng Academy"

re_match = re.match( r'Academy', str_)
print(re_match)

re_match = re.match( r'Cod', str_)
print(re_match)

None
<re.Match object; span=(0, 3), match='Cod'>

In [20]:
re_search = re.search( r'Academy', str_)
re_search

#### Funkcja findall szuka wszystkie wystąpienia wzorca w tekście, zwraca jako listę. Finditer zwraca  listę obiektów typu match

In [ ]:
re_findall = re.findall( r'Academy', str_)
re_findall

In [ ]:
re_finditer = re.finditer( r'Academy', str_)
for item in re_finditer:
    print(item)

### Zadanie

### Policzyć w tekście wszystkie słowa. Słowo - zawiera litery i może zawierać myślnik. Wynik - 3

In [28]:
text = 'Ostatni warsztat >>>:-> @ rt-te'
re.findall(r'\w+-*\w*', text)

['Ostatni', 'warsztat', 'rt-te']

### re.split(), re.sub(), re.group()

#### re.split() dzieli string w oparciu o zdefiniowane separatory.

In [22]:
str_ = "numerklienta: 1234567890"
result=re.split(r"\D\s", str_) 
result

['numerklienta', '1234567890']

#### re.sub() podmienia  wzorzecw tekście.

In [23]:
str_ = 'Daty logowania: 19.01.2020, 01.09.2020'
result = re.sub(r'\d{2}\.\d{2}\.\d{4}', r'data', str_) 
result

'Daty logowania: data, data'

#### re.group()  zwraca  ciąg znaków dopasowania.

In [24]:
str_ = "CodIng Academy"
result = re.search(r'(?P<firstword>\w+) (?P<secondword>\w+)', str_)
result.group()

'CodIng Academy'

In [ ]:
result.group(1)

In [ ]:
result.group(2)

In [ ]:
result.groupdict()

### Zadania

#### Zamień 2 spacji w tekście na jedną

In [188]:
str_ = "Have  Fun  with Coding"
result = re.sub('\s{2}', ' ', str_)
result

'Have Fun with Coding'

#### Podziel string w oparciu o różne separatory: (:, \, -)

In [189]:
str_ = r'numetklienta:12345678, numerrachunku\09876543, klient-Jan'
re.split(r'[:,\\-]',str_)

['numetklienta', '12345678', ' numerrachunku', '09876543', ' klient', 'Jan']

In [220]:
str_ = r'numetklienta:12345678, numerrachunku\09876543, klient-Jan'
result = re.search(r'^\w+:(?P<numer_klienta>\d+),\s*\w+\\(?P<numer_rachunku>\d+),\s*\w+\-(?P<name>.+)$',str_)
print(result.groupdict())
print(result.groups())

{'numer_klienta': '12345678', 'numer_rachunku': '09876543', 'name': 'Jan'}
('12345678', '09876543', 'Jan')