# CodING Academy: Python

## Warsztat 1

# PEP 8

### Czyli co to jest?
0. "Gramatyka" języka Python
0. Czytelność kodu - jednakowe zrozumienie

### Główne założenia
0. Wcięcia
0. 4 spacje
0. Długość linii (79 znaków)
0. Łamanie linii przed operatorem binarnym
0. Kodowanie UTF-8
0. Importy w osobnych liniach
0. Gdzie powinniśmy wstawiać spacje
0. Komentarze
0. Nazwy zmiennych (`snake_case`)
0. I wiele innych - zobacz: https://www.python.org/dev/peps/pep-0008/

### Zmienne

#### Wyświetlanie wartości zmiennej

In [ ]:
# Zakładamy kartotekę dla klienta
imie = 
nazwisko = 
wiek = 
pesel = 
numer_rachunku =

In [ ]:
# Wyświetl na ekranie zdanie: Nowy Klient: <imie> <nazwisko>, z numerem pesel <pesel>.

### Znak końca linii - '\n'

In [ ]:
# Wyświetl na ekranie atrybuty klienta, żeby kazdy atrybut znajdował się w osobnej linijce.

### Operatory arytmetyczne

In [ ]:
# Tworzymy dwie zmienne, na których będziemy wykonywali operacje arytmetyczne
saldo = 1000
kwota_przelewu = 500

In [ ]:
# Wyświetl wartości zmiennych
print('Saldo klienta:', )
print('Kwota przełewu:', )

In [ ]:
# Saldo klienta po wykonaniu przelewu na rachunek klienta
print('Saldo klienta po wykonaniu przelewu:', )

In [ ]:
# Saldo klienta po wykonaniu przelewu z rachunku klienta
print('Saldo klienta po wykonaniu przelewu:', )

In [ ]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przełewów:', )

In [ ]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przełewów:', )

In [ ]:
# Klient chcę równo podzielić 150 zł. pomiędzy 3 rachunkami. Jaka kwota bedzie na każdym z rachunków?
suma = 150
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', )

In [ ]:
# Klient chcę równo podzielić 100 zł. pomiędzy 3 rachunkami, 
# żeby kwota na każdym z rachunków odpowiadała liczbie całkowitej
suma = 100
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', )

In [ ]:
# Jaka kwota bedzie nieprzydzielona po wykonaniu poprzedniej operacji
print('Nieprzydzielona kwota:', )

In [ ]:
# Operację potęgowania
x = 2
y = 3
print('Wynik potęgowania x ** y =', )

In [ ]:
# Skrócona ważność operatorów: (potęga), (iloczyn, iloraz, reszta z dzielenia, dzielenie całkowite), (suma, różnica)

In [ ]:
# Czy wynik będzie ten sam?

In [ ]:
print(3 + 2 * 4)

In [ ]:
print((3 + 2)* 4)

In [ ]:
# SyntaxError

In [3]:
# Czy możemy wykonać następne działania?
'imię' = 1
1 = 'nazwisko'

SyntaxError: cannot assign to literal (<ipython-input-3-b0e721cffcb7>, line 2)

### Numeryczne typy danych

In [ ]:
# Sprawdź typy następnych zmiennych:
saldo = 3000
kwota_przelewu = 345.75

In [ ]:
print('Typ zmiennej saldo:', )
print('Typ zmiennej kwota_przelewu:', )

In [ ]:
# Skonwertuj zmienną kwota_przelewu do typu int:

# Typy logiczne

### bool
0. `False`
0. `True`

### bool-like
0. falsy
0. truthy

### Operatory porównania:
0. `<`
0. `<=`
0. `>`
0. `>=`
0. `==`
0. `!=`

### Operatory logiczne:
0. `and`
0. `or`
0. `in`
0. `is`
0. `not`

### Rzutowanie
`bool(x)`

In [3]:
# Na podstawie egzekucji klienta przypisz flagę windykcji
client_executions = []
vindication_flag = ...
vindication_flag

False

In [4]:
# Na podstawie salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = ...
transaction_possible

True

In [5]:
# Na podstawie flagi aktywności rachunku oraz salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
is_account_active = False
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = ...
transaction_possible

False

# Łańcuchy znaków

### String
0. `'string'`
0. `"string"`
0. `"""str
    ing"""`

### Znak wyjścia
0. `\'`
0. `\"`

### Konkatenacja
`string_1 + string_2`

### Slicing
`string[start:stop:step]`

### Rzutowanie
`str(x)`

In [6]:
# Stworzenie loginu - końcowa liczba to iloczyn wieku klienta i magicznej liczby
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91

customer_login = ...
customer_login

'JANING3094'

In [7]:
# Uzupełnienie numeru rachunku do 10 znaków (wiodącymi zerami)
account_number = 12345678

account_number_str = ...
account_number_str

'0012345678'

### Sekwencje

#### tuple - tworzenie

In [ ]:
# Stwórz krotkę, która zawiera współrzędne GPS budynku ING na Sokolskiej 34 w Katowicach: 50.265196, 19.018155
sokolska_34_gps = 
print(sokolska_34_gps)

#### list - tworzenie

In [ ]:
# Stwórz listę, która zawiera imię, nazwisko, numer klienta, wiek
imie = 
nazwisko = 
nr_klienta = 
wiek = 
client_features = []

#### tuple, list - indeksowanie, członkostwo, długość

In [ ]:
# Znajdź pierwszy, drugi i ostatni element utworzonej wcześniej listy
first_name = 
last_name = 
age = 
print(first_name, last_name, age, "lata")

In [ ]:
# Sprawdź długość listy client_features
len_client_features =

In [ ]:
# Sprawdź czy wartość 25 jest w client_features

In [ ]:
# Sprawdź pozycję pierwszego wystąpienia wartości 25

In [ ]:
# Sprawdź liczbę wystąpień wartości 25 w sekwencji

#### tuple, list - konkatenacja (łączenie)

In [ ]:
# Połącz listę klientów z 03.08 i z 04.08
clients_03_08 = ['Alicja', 'Monika', 'Natalia']
clients_04_08 = ['Jerzy', 'Mateusz', 'Robert']

In [ ]:
# Stwórz listę z powtórzonej sekwencji elementów wykorzystując operator mnożenia
lista = [100, 200]
lista_new = 
# [100,200,100,200,100,200]

#### list - modyfikacja

In [ ]:
# Stwórz pustą listę, która będzie zawierała nazwy kont nowego klienta
konta = 
print(konta)

In [ ]:
# Dodaj nazwę konta Direct i nazwę konta Komfort do listy


print(konta)

In [ ]:
# Dodaj nazwę konta Mobi do listy, żeby nazwa Mobi znajdowała się na pierwszej pozycji

print(konta)

In [ ]:
# Zamień nazwę konta Mobi na konto walutowe

print(konta)

In [ ]:
# Usuń konto Direct z listy

print(konta)

In [ ]:
# Dodaj do listy 2 nowe konta: Walutowe_eur, Walutowe_usd

print(konta)

In [ ]:
# Usuń wszytskie elementy listy

print(konta)

#### zmienne jako referencje

In [ ]:
# Stwórz listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Przypisz zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = []
client_2 =

In [ ]:
# Dodaj nazwę konta Direct do listy klienta 1

In [ ]:
# Czy zmiany widoczne są w obydwu zmiennych.

#### list - klonowanie

In [ ]:
# Stworzymy listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Sklonuj zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = 
client_2 =

In [ ]:
# Dodajemy nazwe konta Direct do listy klienta 1

In [ ]:
# Czy zmiany widoczne są w obydwu zmiennych.

#### tuple, list - fragmenty (slicing)

In [ ]:
# Stwórz listę imion klientów
lista_klientow = []

In [ ]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element)

In [ ]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element), używając ujemnych wartości

In [ ]:
# Wyswietl co 2 element listy, zaczynając od 1 elementu

In [ ]:
# Odwróć kolejność elementów listy

#### tuple, list - konwersje, zakresy

In [ ]:
# Stwórz listę na bazie krotki z numerami klientów

In [ ]:
# Stwórz krotkę  na bazie listy z numerami klientów

In [ ]:
# Stwórz listę na bazie napisu "ING"

In [ ]:
# Stwórz krotkę zawierająca pięć pierwszych liczb naturalnych (licząc od zera).

In [ ]:
# Stwórz listę pierwszych pięciu liczb naturalnych licząc od jeden.

In [ ]:
# Stwórz krotkę zawierająca liczby parzyste zaczynające się od 2

#### tuple, list - porządek, sortowanie

In [ ]:
# Sprawdź czy kwoty przełewów, które zawiera lista 1 równe kwotom przełewów w liście 2
lista_1 = 
lista_2 =

In [ ]:
# Sprawdź czy lista 1 większa od listy 2
lista_1 = 
lista_2 =

In [ ]:
# Posortuj krotkę listę imion klientów
lista_imion =  ("Ryszard", "Robert", "Andrzej", "Krzysztof", "Paweł")

#### tuple, list - rozpakowywanie

In [ ]:
# Przypisz do zmiennych client1, client2, inni imiona z listy lista_imion

#### set - tworzenie

In [ ]:
# Utwórz zbiór, który zawiera tylko unikalne numery rachunków klienta
nr_rachunku = {'1233', '2345', '4567', '2345'}

#### set - algebra zbiorów

In [ ]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 1 klienta
# zawierają się w  zbiorze numerów rachunku 2 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}

In [ ]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 2 klienta
# zawierają się w  zbiorze numerów rachunku 1 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}

In [ ]:
# Sprawdź czy zbiory są rozłączne

#### set - modyfikacja

In [ ]:
# Zmodyfikuj zbiór numerów rachunku 1 klienta, dodając do niego nr rachunku '6789'

In [ ]:
# Usuń ze zbioru numerów rachunku 1 klienta, nr rachunku: 2345

In [ ]:
# Usuń wszystkie elementy ze zbioru numerów rachunku 1 klienta

#### set - elementy hashowalne

In [ ]:
set_with_list = set()
set_with_list.add([1, 2, 3])

In [ ]:
mix_set = { 1, 3, True, "Some text", 2.3, (1, 2, 3)}

# Słowniki

### Tworzenie słownika
0. `{}`
0. `dict()`

### Funkcje
0. `enumerate`
0. `zip`

In [8]:
# Kartoteka klienta jako słownik
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = ...

customer_1234567890

{'first_name': 'Jan',
 'last_name': 'Ingowski',
 'age': 34,
 'magic_number': 91,
 'accounts_balance': 5345.87}

In [9]:
# Zebranie wielu kartotek do słownika
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = ...

first_name = "Anna"
last_name = "Ingowska"
age = 32
magic_number = 98
accounts_balance = 6_375.89

customer_1234567891 = ...

customers = ...

customers

{'1234567890': {'first_name': 'Jan',
  'last_name': 'Ingowski',
  'age': 34,
  'magic_number': 91,
  'accounts_balance': 5345.87},
 '1234567891': {'first_name': 'Anna',
  'last_name': 'Ingowska',
  'age': 32,
  'magic_number': 98,
  'accounts_balance': 6375.89}}

#### zagnieżdżone sekwencje

In [2]:
# Stwórz listę, której elementami są 2 poniższe listy:
list_a=[1,2,3]
list_b=[4,5,6]

list_nested=

# wypisz na ekran listę list_b odnosząc się do niej z użyciem list_nested (użyj indeksu)
# wypisz na ekran element o indeksie 2 z listy o indeksie 1 (5)

[[1, 2, 3], [4, 5, 6]]

In [5]:
# stwórz krotkę (tuple), która zawiera kolejno: listę [1,2,3], słownik {"ala":"ma kota"}, set {1,2,3,4}
krotka=([1,2,3], {"ala":"ma kota"}, {1,2,3,4})
# zwróć z tej krotki:
# sam słownik
# stringa "ma kota"

{'ala': 'ma kota'}

Zagnieżdżać można wiele typów w sobie nawzajem. Przykładowo lista może zawierać słowniki, które to zawierają tuple (krotki).
Pewnie zastanawiacie się do czego tak skomplikowane struktury mogą byc przydatne. Spójrz na naszą kartotekę:
każdy klient, oprócz danych osobowych ma jeden lub więcej rachunków, a rachunek ma saldo i numer. Klientów jest wielu, więc możemy ich przechować np. w formie listy.

In [ ]:
# Zaprojektuj zagnieżdżoną strukturę do przechowywania takich kartotek i zapisz do niej 3 klientów. 
# Niech każdy klient ma po 2 rachunki.

# Wypisz na ekran imiona klientów
# Wypisz wszystkie numery rachunków klienta o indeksie 1
# Wypisz wszystkie salda wszystkich klientów

#### Python: instrukcje warunkowe

In [ ]:
# Zwróć odpowiedź (Wykonaj operację/Nie ma wystarczających środków),
# w zależności od tego czy kwots transakcji jest większa od salda
# Klient chcę wykonać transakcję na kwotę 1010 zł, mając na koncie 1000 zł.

# Pętle

### Rodzaje pętli
0. `while`
0. `for`

### Instrukcje
0. `break`
0. `continue`

In [10]:
# Napisz pętlę do wykonania transakcji na rachunku, przerwij w przypadku braku środków
account_balance = 356.65
transactions = [-100.0, -50.0, -150.0, -230.0, -40.0]

...

Transaction: -100.00, balance: 256.65
Transaction: -50.00, balance: 206.65
Transaction: -150.00, balance: 56.65
Not enough money!

In [11]:
# Napisz pętlę do wykonania transakcji na rachunku, kontynuuj w przypadku braku środków
account_balance = 356.65
transactions = [-100.0, -50.0, -150.0, -230.0, -40.0]

...

Transaction: -100.00, balance: 256.65
Transaction: -50.00, balance: 206.65
Transaction: -150.00, balance: 56.65
Not enough money!
Transaction: -40.00, balance: 16.65

In [12]:
# Oblicz sumę sald na rachunkach oszczędnościowych klienta
accounts = [
    {"balance": 157.75, "saving": True},
    {"balance": 1_158.35, "saving": True},
    {"balance": 3_154.35, "saving": False},
    {"balance": 2_158.35, "saving": True},
    {"balance": 758.85, "saving": False},
    {"balance": 148.85, "saving": True},
]

balance_sum = 0
...

print(f"{balance_sum:.2f}")

3623.30